<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }


</style>

<div class="content" role="main">
  <h1>ngx-alias example</h1>

  <ng-container *alias="value$ | async as value; alias as other">
    <h2>Value from <em>as</em>: <strong>{{ value }}</strong></h2>
    <h2>Value from <em>other</em>: <strong>{{ other }}</strong></h2>
  </ng-container>

  <button type="button" (click)="increment()">Add 1</button>
</div>
